NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_TASK_DB_ID=노션_태스크_데이터베이스_ID_여기에_입력
KAKAO_REST_API_KEY=카카오_REST_API_키_여기에_입력
KAKAO_REDIRECT_URI=http://localhost:3000/api/kakao/callback
PORT=3000
